<template data-api-related-template>
  {%- render 'products-recommendation', product: product -%}
</template>
<div>
  {%- render 'products-recommendation', product: product -%}
</div>

{% schema %}
{
  "name": "products-recommendation",
  "settings": [
    
    ],
    "presets": [
      {
        "name": "products-recommendation"
      }
    ]
}
{% endschema %}